@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");
/* ----------CSS Variables------------ */
:root {
  /* Colors */
  --Purple-color: hsl(259, 100%, 65%);
  --Light-red-color: hsl(0, 100%, 67%);
  --White-color: hsl(0, 0%, 100%);
  --Off-white-color: hsl(0, 0%, 94%);
  --Light-grey-color: hsl(0, 0%, 86%);
  --Smokey-grey-color: hsl(0, 1%, 44%);
  --Off-black-color: hsl(0, 0%, 8%);
  /* Typography */
  --fs-1: 0.8rem;
  --fs-2: 1rem;
  --fs-3: 3rem;
  --calculator-padding: 4rem 1.5rem;
  --calculator-border-radius: 1.5rem 1.5rem 6rem 1.5rem;
  --padding-button: 15px;
}

/* ----------------Reset---------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------Main CSS-------------- */

body {
  font-family: "Popins", sans-serif;
  background-color: var(--Light-grey-color);
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.age__calculator {
  background-color: var(--White-color);
  padding: var(--calculator-padding);
  border-radius: var(--calculator-border-radius);
}
.input__container {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}
.input__box {
  width: 75px;
  height: 40px;
}
.input__box label {
  color: var(--Smokey-grey-color);
  font-size: var(--fs-1);
  font-weight: 700;
  display: inline-block;
  margin-bottom: 4px;
}
.input__box input {
  width: 100%;
  height: 100%;
  font-size: var(--fs-2);
  font-weight: 800;
  outline: none;
  border: none;
  border: 2px solid var(--Light-grey-color);
  border-radius: 6px;
  padding: 10px;
}
.input__box input::placeholder {
  color: var(--Smokey-grey-color);
  font-size: var(--fs-2);
  font-weight: 800;
}
.input__box span {
  display: inline-block;
  font-size: 14px;
  margin-top: 8px;
  font-style: italic;
  color: var(--Light-red-color);
}
.input__box.error input {
  border-color: var(--Light-red-color);
  border: 1px solid var(--Light-red-color);
}
.input__box.error label {
  color: var(--Light-red-color);
}
.button__container {
  display: flex;
  position: relative;
  height: 60px;
}
.button__container .line {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: var(--Light-grey-color);
  top: 1.8rem;
}
.button__container .button {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
}
.button button {
  outline: none;
  border: none;
  background-color: transparent;
}
.button img {
  background-color: var(--Purple-color);
  width: 70%;
  border-radius: 50%;
  padding: var(--padding-button);
  cursor: pointer;
}

.age__display {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  font-weight: 800;
  font-style: italic;
  line-height: 0.6;
}
.day__display,
.month__display,
.year__display {
  display: flex;
  gap: 30px;
}
.number {
  font-size: var(--fs-3);
  font-weight: bolder;
  color: var(--Purple-color);
  padding-bottom: 25px;
}
.number .dash__line {
  font-size: var(--fs-3);
  display: inline-flex;
  font-style: italic;
  align-items: center;
  letter-spacing: -15px;
}
.text {
  font-size: var(--fs-3);
  font-style: italic;
  font-weight: bolder;
}

/* Media Query */

@media screen and (min-width: 375px) {
  :root {
    /* Typography */
    --fs-1: .8rem;
    --fs-2: 1.2rem;
    --fs-3: 3.5rem;
  }
  .input__box{
    width: 90px;
  }
}

@media screen and (min-width:535px){
    :root {
        /* Typography */
        --fs-1: .8rem;
        --fs-2: 1.2rem;
        --fs-3: 4rem;
        --calculator-padding: 4rem 3rem;
        --calculator-border-radius: 1.5rem 1.5rem 6rem 1.5rem;
        --padding-button: 20px;
      }
      .input__box{
        width: 100px;
      }
      .button img{
        width: 80%;
      }
}

@media screen and (min-width:767px){
    :root {
        /* Typography */
        --fs-1: 1rem;
        --fs-2: 1.4rem;
        --fs-3: 5rem;
        --calculator-padding: 4rem;
        --calculator-border-radius: 1.5rem 1.5rem 6rem 1.5rem;
        --padding-button: 20px;
      }
      .input__box{
        width: 120px;
      }
      .button img{
        width: 80%;
      }
}
@media screen and (min-width:1024px){
    :root {
        /* Typography */
        --fs-1: 1rem;
        --fs-2: 2rem;
        --fs-3: 6rem;
        --calculator-padding: 4rem;
        --calculator-border-radius: 1.5rem 1.5rem 10rem 1.5rem;
        --padding-button: 25px;
      }
      .age__calculator{
        width: 840px;
      }
      .input__box{
        width: 160px;
        height: 70px;
      }
      .button img{
        width: 100%;
      }
      .button__container .line{
        top: 2.5rem;
      }
      .button__container .button{
        right: 0;
        transform: translateX(0);
      }
      .number{
        padding-bottom: 30px;
      }
}
